div#popup {
    position: absolute;
    width:200px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px; 
    transition: all 0.4s ease-in;
}

div#popup.displayed {
    top: 50%;
}

div#popup.hidden {
    top: -100%;    
}
