body {
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.1);
}

header, section {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
}

article {
	flex: 1;
	display: flex;
	margin-right: 20px;
	background: white;
}

article:last-child {
	margin-right: 0;
}

piece, zone {
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	height: 150px;
}

piece square, zone square {
	display: block;
	width: 50px;
	height: 50px;
}

/* Header : contrôles */

header {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	background: white;
}

header > * {
	display: flex;
	padding: 10px;
	flex-direction: column;
}

header > * > * {
	flex: 1;
}

/* Article 1 : pièces */

pieces {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

piece {
	margin: 50px 10%;
}

piece square {
	background: #A7C628;
	box-shadow: 0 0 5px #A7C628;
}

piece square.invisible {
	visibility: hidden;
}

/* Article 2 : boutons/objectifs et safari */

zones {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	height: 350px;
	padding: 5px;
	justify-content: space-around;
	align-content: space-around;
	margin: auto;
	background: #A7C628;
	border: 5px outset #A7C628;
}

zones zone {
	background: #8EA823;
	border: 5px inset #A7C628;
}
