
body {
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.1);
	overflow: hidden;
	/* height: 100vh; */
}

img.background {
	position: absolute;
	top: -50px;
	left: -50px;
	width: 110%;
	filter: blur(5px);
	z-index: -100;
}

img.note {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 2%;
	opacity: 0.7;
	cursor: pointer;
}

header, section, footer {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
}

header, article, footer {
	background: rgba(245, 245, 220, 0.308);
}

article {
	flex: 1;
	display: flex;
	margin-right: 20px;
	padding: 50px;
}

article:last-child {
	margin-right: 0;
}

piece, zone { /* changer ces tailles a un impact sur zones */
	display: flex;
	flex-wrap: wrap;
	width: 225px; /* 3 * (square width + 2 * square border width) */
	min-width: 225px; /* width */
	height: 225px; /* 3 * (square height + 2 * square border width) */
}

piece square, zone square { /* changer ces tailles a un impact sur piece et zone */
	display: block;
	width: 75px;
	height: 75px;
	border: 1px solid #8EA823;
	border-width: 0px;
	background-color: #8EA823;
	background-repeat: no-repeat;
}

square.invisible {
	visibility: hidden;
	box-shadow: none;
}

.elephant {
	background-image: url("../img/animals/elephant.png");
}

.giraffe {
	background-image: url("../img/animals/giraffe.png");
}

.lion {
	background-image: url("../img/animals/lion.png");
}

.cow {
	background-image: url("../img/animals/cow.png");
}

.rhino {
	background-image: url("../img/animals/rhino.png");
}

.zebra {
	background-image: url("../img/animals/zebra.png");
}

/* Header : contrôles */

header {
	display: flex;
	flex-direction: row;
	margin: 20px auto;
}

header > * {
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

header > *:last-child {
	border-right: 0;
}

header commands button {
	flex: 1;
	display: inline-block;
	width: 175px;
	line-height: 1.5em;
	border: 0px;
	color: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.15);
	cursor: pointer;
	transition: all .5s ease;
}

header commands button:hover {
	color: rgba(0, 0, 0, 0.75);
	background: rgba(255, 255, 255, 0.4);
}

header commands button:last-child {
	border-bottom: 0px;
}

header objectives {
	flex: 1;
	flex-direction: row;
}

header objective {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;	
}

header objective > * {
	margin: auto;
}

header objective statut {
	display: none;
}

header objective animal {
	display: block;
	width: 60px; /* = height */
	height: 60px; /* = width */
	line-height: 60px; /* = height */
	font-size: 32px;
	color: white;
	font-weight: bold;
	font-family: Courier New, Courier, monospace;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;	
	overflow: hidden;
	border-radius: 50px;
	text-shadow: 0 0 15px black, #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

header objective.valid animal {
	background-color: #A7C628;	
}

/* Article 1 : pièces */

.icone {
	position: absolute;
	margin-left: -25px;
	margin-top: -25px;
	font-size: 32px;
	opacity: 1;
	color: rgb(46, 45, 45);
	text-shadow: 0 0 1px black;
	opacity: 0.6;
	cursor: pointer;
	transition: all 0.13s ease-in;
}

.icone:hover {
	opacity: 0.9;
	transform: rotate(-360deg);
}

pieces {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

piece, piece.base {
	position: relative;
	margin: 0 1.5%;
	margin-bottom: 50px;
	cursor: grab;
}

piece.place {
	position: absolute;
	margin: 0;
}

piece:nth-child(n+3) {
	margin-bottom: 0;
}

piece:active {
	cursor: grabbing;
	z-index: 1000;
}

piece > square {
	transition: box-shadow .2s ease;
	background-size: 300%;
}

piece#piece1 > square {
	background-image: url("../img/jungle/jungle1.jpeg");
}

piece#piece2 > square {	
	background-image: url("../img/jungle/jungle2.jpeg");
}

piece#piece3 > square {	
	background-image: url("../img/jungle/jungle3.jpeg");
}

piece#piece4 > square {	
	background-image: url("../img/jungle/jungle4.jpeg");
}

piece > square:nth-child(1) {
	background-position: top left;
}

piece > square:nth-child(2) {
	background-position: top center;
}

piece > square:nth-child(3) {
	background-position: top right;
}

piece > square:nth-child(4) {
	background-position: center left;
}

piece > square:nth-child(5) {
	background-position: center center;
}

piece > square:nth-child(6) {
	background-position: center right;
}

piece > square:nth-child(7) {
	background-position: bottom left;
}

piece > square:nth-child(8) {
	background-position: bottom center;
}

piece > square:nth-child(9) {
	background-position: bottom right;
}


/* Article 2 : safari */

zones {
	display: flex;
	flex-wrap: wrap;
	width: 510px; /* 2 * zone width + 4 * border width + 40 (espace au milieu) */
	height: 510px; /* 2 * zone height + 4 * border width + 40 (espace au milieu) */
	padding: 13px;
	justify-content: space-around;
	align-content: space-around;
	margin: auto;
	background: #A7C628;
	border: 5px outset #A7C628;
	border-radius: 10px;
}

zones zone {
	background: transparent;
	border: 5px inset #A7C628;
	border-radius: 5px;
}

zone > square {
	background-size: 75%;
	box-shadow: 0 0 1px rgba(0, 0, 0.1);
	background-position: center center;	
}

zone piece:hover {
	opacity: 0.4;
}

/* Footer, crédits */

footer {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	padding: 30px 0;
	font-size: 12px;
	text-align: center;
	color: rgba(0, 0, 0, 0.75);
	background: transparent;
}
